@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: cursive;
  background-color: #052b3c;
  color: #fff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  background-color: #040e46;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  height: 70px;
}

#logo {
  height: 70px;
  width: auto;
}

.hamburger {
  display: none;
  color: #fff;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-menu.active {
  height: 90vh;
}

.nav-link {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  display: flex;
}

.nav-menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 100px solid #46e9ff;
  border-right: 100px solid transparent;
}

.nav-menu::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 100px solid #46e9ff;
  border-left: 100px solid transparent;
}

/* home */
#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.Picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.text {
  margin-bottom: 20px;
}

#side-image {
  width: 100%;
  max-width: 350px;
  margin-left: 70px;
}

.pro {
  text-align: left;
  margin-top: 0;
}

h5 {
  font-size: 20px;
  margin-top: 10px;
}

#name {
  font-size: 30px;
  margin-top: 10px;
}

#pre {
  margin-top: 5px;
  font-size: 20px;
  font-weight: 100;
}

#color {
  color: #32dbf2;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px;
  animation: slide-in-left 1s forwards;
}

.social-media a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  text-decoration: none;
  width: 40px;
  height: 40px;
  border: 2px solid #31dbf2;
  border-radius: 50%;
  background-color: transparent;
  transition: all 0.3s ease;
}

.fa-brands,
.fa-solid {
  color: #31dbf2;
}

.social-media2 a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  text-decoration: none;
  width: 40px;
  height: 40px;
  border: 2px solid #32dbf2;
  border-radius: 50%;
  background-color: transparent;
  transition: all 0.3s ease;
}

.social-media a:hover {
  box-shadow: 0 0 10px 5px rgba(70, 233, 255, 0.5);
}

#CV {
  background: #31dbf2;
  color: #fff;
  width: 180px;
  font-weight: 700;
  height: 47px;
  padding: 10px;
  border-radius: 15px;
  border: none;
  margin-right: 20px;
  box-shadow: 3px 3px 10px 5px rgba(79, 173, 213, 0.5);
}

#CV:hover {
  box-shadow: none;
}

@media (min-width: 768px) {
  #home {
    flex-direction: row;
    justify-content: space-around;
  }

  .Picture {
    flex-direction: row;
    align-items: flex-start;
  }

  .text {
    order: 2;
    margin-bottom: 0;
  }

  .pro {
    order: 1;
    text-align: left;
    margin-left: 20px;
  }

  #side-image {
    width: 50%;
    max-width: 400px;
  }

  .social-media {
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #052b3c;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    height: 150vh;
  }

  .nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;
    background-color: #040e46;
    border-left: 2px solid #46e9ff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
    text-decoration: none;
    margin-top: 0;
    border-radius: 0 40px 40px 0;
    width: 200px;
    height: 20px;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* about */
#about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 100px;
}

.about-page,
.about-text {
  flex: 1;
  min-width: 300px;
  padding: 20px;
}

.profile-image {
  width: 200px;
  height: 200px;
  margin-top: 10px;
  border: 10px solid #31dbf2;
  border-radius: 50%;
}

#abt-h {
  font-size: 24px;
}

#abt-h2 {
  display: none;
}

#full {
  font-size: 18px;
  text-align: center;
}

#pra {
  font-size: 16px;
  margin-top: 5px;
  text-align: center;
  margin-bottom: 0;
  justify-content: center;
}

.about-page {
  order: 1;
}

.about-text {
  order: 2;
}

@media (max-width: 768px) {
  #about {
    flex-direction: column;
  }

  .about-page,
  .about-text {
    min-width: 100%;
    padding: 10px;
  }
}

/* certificate */
h2 {
  font-size: 8px;
  font-weight: 50;
  margin-bottom: 10px;
}

.certificates {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.certificate {
  background-color: #000;
  color: #46e9ff;
  border: none;
  margin-bottom: 10px;
  width: 500px;
  max-width: 200px;
  text-align: center;
  border-radius: 10px;
}

.certificate-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  box-shadow: 0 10px 50px 0 #46e9ff;
}

/* skills */
.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

#heading {
  text-align: center;
  width: 100%;
  text-decoration: underline;
  font-weight: bold;
  margin-top: 70px;
  font-size: 18px;
}

#heading1 {
  text-align: center;
  width: 100%;
  text-decoration: underline;
  font-weight: bold;
  font-size: 18px;
}

#skill-head {
  font-size: 1.5em;
  margin: 20px 0;
  text-align: center;
  width: 100%;
  text-decoration: none;
}

.highlight {
  color: #32dbf2;
}

.technical-skills,
.professional-skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-top: 30px;
}

.skill {
  display: inline-block;
  margin: 0 10px;
  text-align: center;
}

.skill img {
  width: 48px;
  height: 48px;
}

.skill p {
  margin: 5px 0;
}

.progress-bar {
  background-color: #000;
  border-radius: 5px;
  width: 100px;
  height: 10px;
  margin: 0 auto;
}

.progress {
  background-color: #32dbf2;
  height: 10px;
  width: 80%;
  border-radius: 5px;
}

.circle-skill {
  margin: 20px;
  position: relative;
  text-align: center;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.circle::before {
  content: attr(data-percentage) '%';
  position: absolute;
  color: #fff;
  font-size: 1.5em;
}

.circle::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(#32dbf2 calc(var(--percentage) * 1%), transparent 0);
  mask: radial-gradient(farthest-side, transparent calc(100% - 10px), #000 calc(100% - 8px));
}

/* project */
.project-intro {
  margin-bottom: 0;
  text-align: center;
}

.project-intro h6 {
  font-size: 1.5em;
  margin-bottom: 0;
  margin-top: 80px;
}

.project-intro p {
  font-size: 1em;
  color: #fff;
  margin-bottom: 5px;
}

.carousel-container {
  position: relative;
  width: 300px;
  margin: auto;
}

.carousel {
  overflow: hidden;
  width: 100%;
  height: 200px;
  position: relative;
}

.carousel-item {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-hover {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-image: linear-gradient(#32dbf2, transparent);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 10px;
}

.carousel-item:hover .carousel-hover {
  opacity: 1;
}

.learn-more {
  background: #31dbf2;
  border: none;
  color: #fff;
  padding: 5px 5px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.5);
  color: #31dbf2;
  border: none;
  cursor: pointer;
  font-size: 20px;
  transform: translateY(-50%);
}

h1 {
  font-size: 16px;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

/* Popup Menu */
#popup-menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #052b3c;
  border: 2px solid #32dbf2;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 70%;
  max-width: 300px;
  display: none;
  z-index: 1000;
  text-align: center;
  color: #fff;
}

#popup-title {
  font-size: 24px;
  margin-bottom: 10px;
}

#popup-img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

#popup-description {
  font-size: 16px;
  margin-bottom: 10px;
}

#popup-tech-list {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}

#popup-tech-list li {
  display: inline-block;
  margin-right: 10px;
  font-size: 10px;
  border: 1px solid #31dbf2;
  width: 50px;
  height: auto;
  align-items: center;
  border-radius: 3px;
  padding: 5px;
}

#source-link,
#live-link {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #31dbf2;
  color: white;
  text-decoration: none;
  font-size: 14px;
  margin-top: 5px;
}

#source-link:hover,
#live-link:hover {
  border: 1px solid #31dbf2;
  background: transparent;
}

#close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #31dbf2;
}

#close-btn:hover {
  color: red;
}

.live-link {
  background: #2ecc71;
}

.source-link:hover {
  background: #2980b9;
}

.live-link:hover {
  background: #27ae60;
}

/* Additional Images */
.additional-images-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.additional-image {
  width: 200px;
  height: 180px;
  border-radius: 5px;
}

/* contact page */
#information {
  padding: 20px;
}

#contact-div {
  display: none;
  flex-direction: column;
  align-items: flex-start;
}

h3 {
  text-align: left;
  color: #46e9ff;
  font-size: 20px;
}

form {
  width: 100%;
  margin-bottom: 20px;
}

form input,
form textarea,
form button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 3px solid #32dbf2;
  border-radius: 50px;
  background-color: #9a9a9a94;
  align-items: center;
}

form textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  border: 2px solid #31dbf2;
  border-radius: 25px;
  font-size: 16px;
  box-sizing: border-box;
  resize: vertical;
}

form input::placeholder,
form textarea::placeholder {
  color: #fff;
  font-size: 18px;
}

input#email {
  height: 60px;
}

form button {
  color: #fff;
  border: 4px solid #32dbf2;
  cursor: pointer;
  background-color: #052b3c;
  width: 317px;
  height: 55px;
  box-shadow: 8px 10px 18px 0 rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  font-size: 16px;
  margin-top: 30px;
}

form button:hover {
  background-color: #32dbf2;
  border-color: #052b3c;
  transform: scale(1.05);
}

#contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0;
}

.info-item {
  margin: 10px 0;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.info-item i {
  margin-right: 10px;
  color: #32dbf2;
  margin-bottom: 1px;
}

.social-media-contact {
  display: none;
}

.social-media2 {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  animation: slide-in-left 1s forwards;
}

#para {
  margin: 20px 0;
  text-align: left;
}

#contact-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0;
}

#social-media-contact {
  display: none;
}

@media (min-width: 1024px) {
  .nav-menu::before {
    display: none;
  }

  .nav-menu::after {
    display: none;
  }

  /* home */
  #home {
    margin-top: 30px;
  }

  #side-image {
    width: 100%;
    width: 1500px;
    margin-left: 0;
    margin-right: 50px;
  }

  .pro {
    text-align: left;
    margin-top: 20px;
  }

  #pre {
    width: 70%;
    justify-content: center;
  }

  .social-media {
    justify-content: left;
  }

  /* about */
  #about {
    padding-top: 70px;
  }

  #abt-h {
    display: none;
  }

  #abt-h2 {
    display: block;
  }

  h1#abt-h2 {
    font-size: 30px;
  }

  .about-text {
    margin-right: 90px;
  }

  #full {
    color: #fff;
  }

  #pra {
    line-height: 30px;
  }

  /* certificate */
  .certificates {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
  }

  h2 {
    margin-left: 130px;
    font-size: 20px;
  }

  .certificate {
    max-width: 300px;
  }

  /* skills */
  .skills-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 0;
  }

  .skill {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 30px;
  }

  #sql {
    display: flex;
    justify-content: space-between;
  }

  .technical-skills {
    margin-top: 0;
  }

  .progress-bar {
    background-color: #000;
    border-radius: 5px;
    width: 250px;
    height: 10px;
    margin: 0 auto;
  }

  .heading,
  #heading1 {
    margin: 20px 0;
    padding: 10px;
    text-align: center;
  }

  .technical-skills,
  .professional-skills {
    flex: 1;
    padding: 100px;
    box-sizing: border-box;
    margin: 0;
    width: 80%;
  }

  /* project */
  p#project-text {
    text-align: left;
    padding: 50px;
  }

  /* Additional Images */
  .additional-images-container {
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    padding-right: 100px;
  }

  .additional-image {
    width: 250px;
    height: 250px;
  }

  /* contact */
  #information {
    padding: 50px;
    display: flex;
    margin-top: 100px;
  }

  #contact-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  h3 {
    color: #46e9ff;
    font-size: 24px;
    margin-top: 10px;
  }

  form {
    text-align: center;
    align-items: center;
  }

  #para {
    width: 90%;
    text-align: left;
  }

  #contact-2 {
    display: none;
  }

  .social-media2 {
    display: none;
  }

  #contact-info {
    display: none;
    margin-top: 100px;
  }

  #social-media-contact {
    display: block;
  }

  #social-media-contact a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #31dbf2;
    margin: 5px;
    color: #000;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
  }

  #social-media-contact a:hover {
    background-color: #000;
    color: #fff;
  }
}

@media (min-width: 768px) {
  #home {
    margin-top: 30px;
  }

  .nav-menu::before {
    display: none;
  }

  .nav-menu::after {
    display: none;
  }

  #side-image {
    width: 100%;
    width: 1200px;
    margin-left: 0;
  }

  .certificates {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
  }

  h2 {
    margin-left: 80px;
    font-size: 16px;
  }

  .additional-images-container {
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    padding-right: 100px;
  }

  #information {
    padding: 50px;
    display: flex;
  }

  #contact-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  h3 {
    color: #46e9ff;
    font-size: 24px;
    margin-top: 10px;
  }

  form {
    text-align: center;
    align-items: center;
  }

  #para {
    display: flex;
    width: 90%;
    text-align: left;
  }

  #contact-2 {
    display: none;
  }

  .social-media2 {
    display: none;
  }

  #contact-info {
    display: block;
    margin-top: 100px;
  }

  #social-media-contact {
    display: block;
  }
}

@media (max-width: 430px) {
  #side-image {
    margin-left: 50px;
  }

  #info {
    display: none;
  }

  h2 {
    text-align: center;
    font-size: 18px;
  }

  #contact-div {
    display: block;
  }
}
